.body-page {
    background-color: $bgColor;
    font-family: "TT Lakes", "Arial", serif;
    display: flex;
    flex-direction: column;
}

.body-page::-webkit-scrollbar {
  width: 0;
}



@media screen and (min-width: 1024px){
  .body-page {
    flex-direction: row;
  }
}
