.button-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-weight: bold;

  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: $baseColor;

  //position: absolute;
  left: 110px;
  bottom: 15px;
  transition: 0.3s;
}

.button-text:hover {
    width: 124px;
}

.button-text__text {
  font-size: 12px;
  line-height: 24px;

  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: $blockColor;
}

@media screen and (min-width: 768px) {
  .button-text {
    position: static;
  }
}
