.glass {
  float: right;
  //min-height: 100vh;
  width: 0;
  //position: fixed;
  right: auto;
  background-color: $glassColor;
}

@media screen and (min-width: 321px){
  .glass {
    width: 25%;
  }
}

@media screen and (min-width: 425px){
  .glass {
    width: 40%;
  }
}



@media screen and (min-width: 500px){
  .glass {
    width: 60%;
  }
}

@media screen and (min-width: 600px){
  .glass {
    width: 100%;
  }
}
