.multi-button {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.multi-button__title {
  display: none;
}

.multi-button:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1023px) {
    .multi-button__title {
        display: block;
    }
}
