.nav-page {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    color: $secondaryTextСolor;
    font-weight: 500;
}

.nav-page::-webkit-scrollbar {
    display: none;
}

.nav-page__list {
    display: flex;
  overflow-x: auto;
}

.nav-page__list::-webkit-scrollbar {
  display: none;
}

.nav-page__link {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px 8px 8px 8px;
  margin-left: 16px;
  margin-right: 16px;

  font-size: 16px;
  line-height: 24px;
  color: $secondaryTextСolor;

  border: 2px solid rgba(184, 255, 236, 0);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
  transition: 0.2s;
}

.nav-page__link:hover {
  border: 2px solid $lineColor;
}

.nav-page__link--active {
    background: $blockColor;
    border: 2px solid $secondColor;
    transition: 0.2s;
}


@media screen and (min-width: 1023px) {
  .nav-page__list {
    flex-wrap: wrap !important;
  }
}
