.none-scroll {
  position: fixed;
  overflow:hidden;
}

@media screen and (min-width: 1024px) {
  .none-scroll {
    top: auto;
    right: 0;
    width: 100vw - 27vw;
  }
}



@media screen and (min-width: 1340px){
  .none-scroll {
    top: auto;
    right: 0;
    width: 100vw - 23vw;
  }
}

