.post {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 14px;
    line-height: 18px;
}

.post__content {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    color: $baseTextСolor;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.post__text {
    height: 90px;
    overflow: hidden;
}


@media screen and (min-width: 768px) {
  .post {
    flex-direction: row;
  }
  .post__text {
    height: 160px;
  }
  .post__img-article {
    width: 50vw;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .post__text {
    height: 200px;
  }
}
