.title-article {
  display: flex;
  width: 100%;
  padding: 16px;
  background: linear-gradient(90deg, $bgColor 1.39%, $blockColor 100%);
  border-top: 1px solid $secondColor;

  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.2px;
  text-transform: uppercase;

  color: $secondaryTextСolor;
}

@media screen and (min-width: 768px){
  .title-article {
    padding-left: 28px;
  }
}
